In [1]:
import pandas as pd
import pymysql
import datetime

In [18]:
# PROD
conn = pymysql.connect(host='rr-wz9y03t9wtq075179o.mysql.rds.aliyuncs.com', user='medbuser', passwd='Ptmesys!!!1290098', db='mobility_exchange', port = 3306)

In [3]:
sql_trip = "SELECT * FROM me_transport_hub_trip WHERE DATE(TRIP_BOARD_TIME)>=20180714;"

In [4]:
df = pd.read_sql_query(sql=sql_trip, con=conn)

In [5]:
sql_board_gps2 = 'SELECT METER_TRIP_ID,ORG_LAT as GPS_LAT,ORG_LNG as GPS_LNG FROM `me_meter_trip` WHERE METER_TRIP_ID IN {}; '

In [6]:
s = set(df["METER_TRIP_ID"])

In [7]:
inlist = str(s).replace(r"{",r"(").replace(r"}", r")").replace("\\", "")

In [8]:
df_gps = pd.read_sql_query(sql=sql_board_gps2.format(inlist), con=conn)

In [9]:
df = df.merge(df_gps, on="METER_TRIP_ID")

In [11]:
df.to_csv("hotmap_0714.csv", index=False, header=True)

In [14]:
sql_trail = "SELECT * FROM me_transport_hub_trail_stat WHERE STAT_DATE>=20180714;"

In [19]:
df_trail = pd.read_sql_query(sql=sql_trail, con=conn)
df_trail.head()

,ID,HUB_CODE,VEHICLE_NO,ENTRY_COUNT,DEPART_COUNT,ILLEGAL_COUNT,STAT_DATE,CRT_ON,UPD_ON
0,993947343835136,SZ_RAIL_NOR,粤B0K4T2,2,1,0,20180714,2018-07-14 00:05:00,2018-07-15 00:00:02
1,993947343855616,SZ_RAIL_NOR,粤B0P7B3,1,1,0,20180714,2018-07-14 00:05:00,2018-07-15 00:00:02
2,993947343876609,SZ_RAIL_NOR,粤B0V3P3,3,0,0,20180714,2018-07-14 00:05:00,2018-07-15 00:00:02
3,993947343896577,SZ_RAIL_NOR,粤B0V4P2,6,3,2,20180714,2018-07-14 00:05:00,2018-07-15 00:00:02
4,993947343921664,SZ_RAIL_NOR,粤B0V9P3,2,1,0,20180714,2018-07-14 00:05:00,2018-07-15 00:00:02

In [20]:
df_trail.to_csv("hub_trail_20180714.csv")