## 本例是使用同期相同时间段数据的平均值作为预估数据值
 方案1、直接分析若干天同期数据的值
 
 方案2、将时间分为周末和非周末，然后进行分析

In [2]:
import numpy as np
import pandas as pd
%matplotlib inline

In [3]:
data = pd.read_csv("from_06_01_5_minute_stat.csv")
data["FROM_TIME"] = pd.to_datetime(data["FROM_TIME"])

In [4]:
def getRealTripsCount(df,n=5):
    trips_count = df["TRIPS_COUNT"]
    realTripsCount = []
    l = len(trips_count)
    for i in range(l):
        if l-i-1 < n:
            realTripsCount.append(0)
        else:
            realTripsCount.append(sum(trips_count[i+1:i+1+n]))
    return realTripsCount

In [5]:
data["RealTripsCount"] = getRealTripsCount(data)

In [9]:
data["weekday"] = data.FROM_TIME.dt.weekday
data["time"] = data.FROM_TIME.dt.time

In [15]:
def getEstTripsCount(df, n=5):
    """
    部分周末与否实现方法：
    对单个数据集进行计算时，获取前n天同期实际发车量的平均值作为预估发车量
    """
    estTripsCount = []
    df_len = len(df)
    for line in df:

In [16]:
getEstTripsCount(data)

,FROM_TIME,END_TIME,AVG_RUNNING,TRIPS_COUNT,VEHICLE_COUNT,RealTripsCount,weekday,time
287,2018-06-02 00:00:00,2018-06-02 00:05:00,33.18,24,235,144,5,00:00:00
288,2018-06-02 00:05:00,2018-06-02 00:10:00,32.85,37,238,144,5,00:05:00
289,2018-06-02 00:10:00,2018-06-02 00:15:00,33.11,25,235,143,5,00:10:00
290,2018-06-02 00:15:00,2018-06-02 00:20:00,31.51,21,245,154,5,00:15:00
291,2018-06-02 00:20:00,2018-06-02 00:25:00,30.71,25,238,159,5,00:20:00
292,2018-06-02 00:25:00,2018-06-02 00:30:00,35.29,36,230,154,5,00:25:00
293,2018-06-02 00:30:00,2018-06-02 00:35:00,30.31,37,224,140,5,00:30:00
294,2018-06-02 00:35:00,2018-06-02 00:40:00,29.28,24,224,139,5,00:35:00
295,2018-06-02 00:40:00,2018-06-02 00:45:00,28.47,32,228,134,5,00:40:00
296,2018-06-02 00:45:00,2018-06-02 00:50:00,29.77,30,238,134,5,00:45:00
297,2018-06-02 00:50:00,2018-06-02 00:55:00,35.65,31,242,128,5,00:50:00
298,2018-06-02 00:55:00,2018-06-02 01:00:00,29.18,23,240,145,5,00:55:00
299,2018-06-02 01:00:00,2018-06-02 01:05:00,28.63,23,250,155,5,01:00:00
300,2018-06-02 01:05:00,2018-06-02 01:10:00,28.99,27,254,163,5,01:05:00
301,2018-06-02 01:10:00,2018-06-02 01:15:00,28.95,30,245,162,5,01:10:00
302,2018-06-02 01:15:00,2018-06-02 01:20:00,29.35,25,242,170,5,01:15:00
303,2018-06-02 01:20:00,2018-06-02 01:25:00,30.79,40,236,162,5,01:20:00
304,2018-06-02 01:25:00,2018-06-02 01:30:00,30.10,33,230,158,5,01:25:00
305,2018-06-02 01:30:00,2018-06-02 01:35:00,28.48,35,212,149,5,01:30:00
306,2018-06-02 01:35:00,2018-06-02 01:40:00,29.88,29,209,148,5,01:35:00
307,2018-06-02 01:40:00,2018-06-02 01:45:00,29.10,33,195,147,5,01:40:00
308,2018-06-02 01:45:00,2018-06-02 01:50:00,27.07,32,194,147,5,01:45:00
309,2018-06-02 01:50:00,2018-06-02 01:55:00,25.94,29,171,158,5,01:50:00
310,2018-06-02 01:55:00,2018-06-02 02:00:00,21.87,26,162,171,5,01:55:00
311,2018-06-02 02:00:00,2018-06-02 02:05:00,19.39,28,154,152,5,02:00:00
312,2018-06-02 02:05:00,2018-06-02 02:10:00,19.38,32,148,139,5,02:05:00
313,2018-06-02 02:10:00,2018-06-02 02:15:00,16.81,32,141,126,5,02:10:00
314,2018-06-02 02:15:00,2018-06-02 02:20:00,14.04,40,122,104,5,02:15:00
315,2018-06-02 02:20:00,2018-06-02 02:25:00,11.16,39,92,81,5,02:20:00
316,2018-06-02 02:25:00,2018-06-02 02:30:00,7.27,9,86,93,5,02:25:00
...,...,...,...,...,...,...,...,...
4863,2018-06-17 21:30:00,2018-06-17 21:35:00,94.12,7,294,58,6,21:30:00
4864,2018-06-17 21:35:00,2018-06-17 21:40:00,94.10,8,301,56,6,21:35:00
4865,2018-06-17 21:40:00,2018-06-17 21:45:00,96.52,12,301,60,6,21:40:00
4866,2018-06-17 21:45:00,2018-06-17 21:50:00,94.52,21,293,57,6,21:45:00
4867,2018-06-17 21:50:00,2018-06-17 21:55:00,96.24,6,295,61,6,21:50:00
4868,2018-06-17 21:55:00,2018-06-17 22:00:00,96.73,11,297,66,6,21:55:00
4869,2018-06-17 22:00:00,2018-06-17 22:05:00,95.45,6,305,73,6,22:00:00
4870,2018-06-17 22:05:00,2018-06-17 22:10:00,90.33,16,303,73,6,22:05:00
4871,2018-06-17 22:10:00,2018-06-17 22:15:00,96.06,18,293,92,6,22:10:00
4872,2018-06-17 22:15:00,2018-06-17 22:20:00,84.21,10,294,106,6,22:15:00
4873,2018-06-17 22:20:00,2018-06-17 22:25:00,94.43,16,289,108,6,22:20:00
4874,2018-06-17 22:25:00,2018-06-17 22:30:00,92.34,13,288,107,6,22:25:00
4875,2018-06-17 22:30:00,2018-06-17 22:35:00,92.48,16,288,110,6,22:30:00
4876,2018-06-17 22:35:00,2018-06-17 22:40:00,88.92,37,269,87,6,22:35:00
4877,2018-06-17 22:40:00,2018-06-17 22:45:00,84.33,24,269,80,6,22:40:00
4878,2018-06-17 22:45:00,2018-06-17 22:50:00,79.97,18,276,87,6,22:45:00
4879,2018-06-17 22:50:00,2018-06-17 22:55:00,78.04,12,283,93,6,22:50:00
4880,2018-06-17 22:55:00,2018-06-17 23:00:00,77.06,19,271,93,6,22:55:00
4881,2018-06-17 23:00:00,2018-06-17 23:05:00,76.97,14,281,103,6,23:00:00
4882,2018-06-17 23:05:00,2018-06-17 23:10:00,73.78,17,275,117,6,23:05:00
4883,2018-06-17 23:10:00,2018-06-17 23:15:00,73.64,25,272,126,6,23:10:00
4884,2018-06-17 23:15:00,2018-06-17 23:20:00,70.21,18,267,136,6,23:15:00
4885,2018-06-17 23:20:00,2018-06-17 23:25:00,68.44,19,266,153,6,23:20:00
4886,2018-06-17 23:25:00,2018-06-17 23:30:00,61.54,24,261,150,6,23:25:00
4887,2018-06-17 23:30:00,2018-06-17 23:35:00,56.35,31,243,133,6,23:30:00
4888,2018-06-17 23:35:00,2018-06-17 23:40:00,52.79,34,234,118,6,23:35:00
4889,2018-06-17 23:40:00,2018-06-17 23:45:00,52.88,28,219,109,6,23:40:00
4890,2018-06-17 23:45:00,2018-06-17 23:50:00,50.15,36,214,98,6,23:45:00
4891,2018-06-17 23:50:00,2018-06-17 23:55:00,44.70,21,217,101,6,23:50:00
4892,2018-06-17 23:55:00,2018-06-18 00:00:00,43.65,14,225,121,6,23:55:00

In [14]:
def getEstAndRealTime(dataFrame, carStorageTime, disPersion):
    """
    返回预付发车量大于空车差量的开始时间列表和实际发车量大于空车差量的时间列表
    """
    carStorageCount = int(carStorageTime/5)
    # 计算空车差量
    dataFrame["VEHICLE_COUNT_dispersion"] = data.VEHICLE_COUNT*(1+disPersion)
    # 计算预估发车量
    estTripsCount = getEstTripsCount(dataFrame, n=carStorageCount)
    # 计算实际发车量
    realTripsCount = getRealTripsCount(dataFrame, n=carStorageCount)
    
    trips_count_dict = {
        "FROM_TIME":dataFrame["FROM_TIME"],
        "estTripsCount":estTripsCount,
        "realTripsCount":realTripsCount
    }
    # 合并数据集
    df = dataFrame.merge(pd.DataFrame(trips_count_dict), on="FROM_TIME")
    df["HOUR"] = df["FROM_TIME"].dt.hour
    # 筛选出需要的记录 1.预估大于空车差量的结果 2.真实大于预估差量的结果 3.预估和真实均大于差量的结果
    df_est_lg = df[(df["estTripsCount"]>df["VEHICLE_COUNT_dispersion"]) & (df["HOUR"].isin({0,1,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23}))]
    df_real_lg = df[(df["realTripsCount"]>df["VEHICLE_COUNT_dispersion"]) & (df["HOUR"].isin({0,1,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23}))]
    # 获取筛选结果的时间列表，供返回
    df_est_lg_fromtime = df_est_lg["FROM_TIME"]
    df_real_lg_fromtime = df_real_lg["FROM_TIME"]
    return df_est_lg_fromtime, df_real_lg_fromtime

In [15]:
def calcRate(df, carStorageTime, disPersion):
    est_time, real_time = getEstAndRealTime(df, carStorageTime, disPersion)
    est_time = set(est_time)
    real_time = set(real_time)
    
    accuracy_rate = len(est_time & real_time)/len(est_time)
    false_positive_rate = len(est_time-real_time)/len(est_time)
    return accuracy_rate, false_positive_rate

In [16]:
data.index

RangeIndex(start=0, stop=5601, step=1)

In [17]:
accuracy_rate, false_positive_rate = calcRate(data, 20, 0.05)

In [18]:
print(accuracy_rate, false_positive_rate)

0.4666666666666667 0.5333333333333333

In [20]:
carStorageTimes = [20,25,30,35,40]
disPersion = [0.05,0.1,0.15]

result = {
    "carStorageTimes":[],
    "disPersion":[],
    "accuracy_rate":[],
    "false_positive_rate":[]
}

for cst in carStorageTimes:
    for dp in disPersion:
        accuracy_rate, false_positive_rate = calcRate(data, cst, dp)
        result["carStorageTimes"].append(cst)
        result["disPersion"].append(dp)
        result["accuracy_rate"].append(accuracy_rate)
        result["false_positive_rate"].append(false_positive_rate)
        
df_result = pd.DataFrame(result)
df_result

    carStorageTimes  disPersion  accuracy_rate  false_positive_rate
0                20        0.05       0.466667             0.533333
1                20        0.10       0.435897             0.564103
2                20        0.15       0.369231             0.630769
3                25        0.05       0.513944             0.486056
4                25        0.10       0.502463             0.497537
5                25        0.15       0.487342             0.512658
6                30        0.05       0.604374             0.395626
7                30        0.10       0.588235             0.411765
8                30        0.15       0.557746             0.442254
9                35        0.05       0.722721             0.277279
10               35        0.10       0.698413             0.301587
11               35        0.15       0.659504             0.340496
12               40        0.05       0.779808             0.220192
13               40        0.10       0.767762             0.232238
14               40        0.15       0.755530             0.244470